



button {
  border: 0;
  background: #47B224;
  border-radius: 3px;
  box-shadow: 0 5px 0 #006600;
  color: white;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 12px 20px;
  transition: all .1s linear;
  position:absolute;
  right:100px;
  top:120px;
  width:500px;
  height:10px;
}
button:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}

button1 {
  border: 0;
  background: #47B224;
  border-radius: 3px;
  box-shadow: 0 5px 0 #006600;
  color: white;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 12px 20px;
  transition: all .1s linear;
  position:absolute;
  right:220px;
  top:250px;
  width:250px;
  height:10px;
  text-align:center;
}
button1:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}
button2 {
  border: 0;
  background: #47B224;
  border-radius: 3px;
  box-shadow: 0 5px 0 #006600;
  color: white;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 12px 20px;
  transition: all .1s linear;
  position:absolute;
  right:220px;
  top:320px;
  width:250px;
  height:10px;
  text-align:center;
}
button2:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}
button3 {
  border: 0;
  background: #47B224;
  border-radius: 3px;
  box-shadow: 0 5px 0 #006600;
  color: white;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 12px 20px;
  transition: all .1s linear;
  position:absolute;
  right:100px;
  top:350px;
  width:250px;
  height:10px;
  text-align:center;
}
button3:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}
button4 {
  border: 0;
  background: #47B224;
  border-radius: 3px;
  box-shadow: 0 5px 0 #006600;
  color: white;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 12px 20px;
  transition: all .1s linear;
  position:absolute;
  right:100px;
  top:400px;
  width:250px;
  height:10px;
  text-align:center;
}
button4:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}
button5 {
  border: 0;
  background: #47B224;
  border-radius: 3px;
  box-shadow: 0 5px 0 #006600;
  color: white;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 12px 20px;
  transition: all .1s linear;
  position:absolute;
  right:100px;
  top:450px;
  width:250px;
  height:10px;
  text-align:center;
}
button5:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}
button6 {
  border: 0;
  background: #47B224;
  border-radius: 3px;
  box-shadow: 0 5px 0 #006600;
  color: white;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 12px 20px;
  transition: all .1s linear;
  position:absolute;
  right:100px;
  top:500px;
  width:250px;
  height:10px;
  text-align:center;
}
button6:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}
button7 {
  border: 0;
  background: #47B224;
  border-radius: 3px;
  box-shadow: 0 5px 0 #006600;
  color: white;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 12px 20px;
  transition: all .1s linear;
  position:absolute;
  right:600px;
  top:250px;
  width:250px;
  height:10px;
  text-align:center;
  text-decoration:none;
}
button7:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}
button8 {
  border: 0;
  background: #47B224;
  border-radius: 3px;
  box-shadow: 0 5px 0 #006600;
  color: white;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 12px 20px;
  transition: all .1s linear;
  position:absolute;
  right:600px;
  top:320px;
  width:250px;
  height:10px;
  text-align:center;
}
button8:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}
button9 {
  border: 0;
  background: #47B224;
  border-radius: 3px;
  box-shadow: 0 5px 0 #006600;
  color: white;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 12px 20px;
  transition: all .1s linear;
  position:absolute;
  right:450px;
  top:350px;
  width:250px;
  height:10px;
  text-align:center;
}
button9:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}
button10 {
  border: 0;
  background: #47B224;
  border-radius: 3px;
  box-shadow: 0 5px 0 #006600;
  color: white;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 12px 20px;
  transition: all .1s linear;
  position:absolute;
  right:450px;
  top:400px;
  width:250px;
  height:10px;
  text-align:center;
}
button10:active {
  box-shadow: 0 2px 0 #006600;
  transform: translateY(3px);
}
button11 {
  border: 0;
  background: #47B224;
  border-radius: 3px;
  box-shadow: 0 5px 0 #006600;
  color: white;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 12px 20px;
  transition: all .1s linear;
  position:absolute;
  right:450px;
  top:450px;
  width:250px;
  height:10px;
  text-align:center;
}
button11:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}
button12 {
  border: 0;
  background: #47B224;
  border-radius: 3px;
  box-shadow: 0 5px 0 #006600;
  color: white;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 12px 20px;
  transition: all .1s linear;
  position:absolute;
  right:450px;
  top:500px;
  width:250px;
  height:10px;
  text-align:center;
}
button12:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}
